<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="../res/img/favicon.png" type=" image/png" >
    <script type="text/javascript" src="../res/js/jquery-1.11.2.js"></script>
    <link rel="stylesheet" type="text/css" href="../res/css/webDefault.css">
    <link rel="stylesheet" type="text/css" href="../res/myPlugins/pagination/jquery.myPagination.css">
    <script type="text/javascript" src="../res/js/js.cookie.js"></script>
    <script type="text/javascript" src="../res/myPlugins/pagination/jquery.myPagination.js"></script>
    <script type="text/javascript" src="../res/js/webCommon.js"></script>
    <script>
        $(function (){
            if(checkUser()){
            }
        });
    </script>
</head>
<body>
<div class="navBar">
    <div class="navBar-inner">
        <div class="container">
            <div class="brand"></div>
            <!--<div id="search_form" class="navBar-search">
                <input type="text" id="q" name="q" class="search-query left" value="">
                <div class="navBar-searchBtn left"></div>
            </div>-->
            <ul class="nav pull-right">
                <li><a href="/index.html">首页</a></li>
                <li><a href="/view/about.html" target="">关于</a></li>
                <li><a style="cursor:pointer;">我的信息</a>
                    <ul>
                        <li><a href="/view/newTopic.html">发布新贴</a></li>
                        <li><a href="#">个人信息</a></li>
                        <li><a href="#">个人主页</a></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </li>
                <li><a id="managePage" href="/manage.html">[管理]</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="main"></div>

<div class="foot">
    <div class="foot-main">
        <p>
            Bitshuo 国内最为专业的区块链技术开源社区，致力于区块链技术的研究、分享和普及
        </p>
    </div>
</div>
</body>
</html>