<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topic</title>
    <link rel="icon" href="../res/img/favicon.png" type=" image/png" >
    <script type="text/javascript" src="../res/js/jquery-1.11.2.js"></script>
    <link rel="stylesheet" type="text/css" href="../res/css/webDefault.css">
    <link rel="stylesheet" type="text/css" href="../res/kindeditor/themes/default/default.css">
    <script charset="utf-8" type="text/javascript" src="../res/kindeditor/kindeditor-all-min.js"></script>
    <script charset="utf-8" type="text/javascript" src="../res/kindeditor/lang/zh-CN.js"></script>
    <script type="text/javascript" src="../res/js/js.cookie.js"></script>
    <script type="text/javascript" src="../res/js/ajaxfileupload.js"></script>
    <script type="text/javascript" src="../res/kindeditor/plugins/singleimg/singleimg.js"></script>
    <script type="text/javascript" src="../res/kindeditor/plugins/singlefile/singlefile.js"></script>
    <script type="text/javascript" src="../res/js/topic.js"></script>
    <script type="text/javascript" src="../res/js/webCommon.js"></script>
    <script>
        $(function (){
            if(checkUser()){
                var topicPar = window.location.search.substring(1);
                initTopicKindeditor();
                updateTopicViewCountById(topicPar);
                initTopic(topicPar);
                initTopicReply(topicPar, 1, 10);
            }
        });
    </script>
</head>
<body>
<div class="navBar">
    <div class="navBar-inner">
        <div class="container">
            <a class="brand" href="/">
                <img src="/public/images/logo.png">
            </a>
            <div id="search_form" class="navBar-search">
                <input type="text" id="q" name="q" class="search-query left" value="">
                <div class="navBar-searchBtn left"></div>
            </div>
            <ul class="nav pull-right">
                <li><a href="/index.html">首页</a></li>
                <li><a href="/view/about.html" target="">关于</a></li>
                <li><a style="cursor:pointer;">我的信息</a>
                    <ul>
                        <li><a href="/view/newTopic.html">发布新贴</a></li>
                        <li><a href="#">个人信息</a></li>
                        <li><a href="/view/userHomePage.html">个人主页</a></li>
                        <li><a href="/login.html" onclick="logout()">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="main">
    <div class="main-rightPanel">
        <div class="main-panel-header">
            <span>通知</span>
        </div>
        <div class="main-panel-body">
            <p>欢迎访问 区块链技术中文社区</p>
            <p>社区发言请遵循 相关规则</p>
            <p>区块链技术交流群 147086480</p>
        </div>
    </div>
    <div class="main-leftPanel">
        <div id="topic-body">
            <div class="main-panel-header">
                <div>
                    <input id="tp_id" type="hidden">
                    <span id="tp_title" style="color:#000000;font-weight:700;font-size:2em"></span>
                    <span id="tp_category" style="display:none;background-color:grey; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;"></span>
                    <span id="tp_putTop" style="display:none;background-color:blue; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">置顶</span>
                    <span id="tp_essence" style="display:none;background-color:purple; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">申精</span>
                    <span id="tp_resolved" style="display:none;background-color:#80bd01; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">已解决</span>
                    <span id="tp_non_resolved" style="display:none;background-color:red; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">待解决</span>
                    <span id="tp_status" style="display:none;background-color:green; padding:2px 6px 2px 4px; border-radius:3px;color:yellow;font-size:14px;">已结贴</span>
                </div>
                <div style="margin-top:10px;">
                    <span style="color:#888;font-size:14px;">发布于: <span id="tp_createTime"></span></span>
                    <span id="tp_creator" style="color:#888;font-size:14px;margin-left:10px;">作者: </span>
                    <span id="tp_viewCount" style="color:#888;font-size:14px;margin-left:10px;">0 次浏览</span>
                </div>
            </div>
            <div class="main-panel-body" style="padding:10;">
                <div id="tp_content" style="margin:0px; border-radius: 0 0 3px 3px;">

                </div>
            </div>
        </div>

        <div id="reply-topic-body" style="margin-top:10px;">
            <div class="main-panel-header">
                <span id="tp_replyCount" style="font-size:14px;">0 回复</span>
            </div>
            <div id="rtp_body" class="main-panel-body" style="padding:0px;">
                <!--<div>
                    <div class="left" style="width:48px;height:48px;background-image:url('../res/img/professor_48.png');position:absolute;"></div>
                    <div style="margin-left:60px;">
                        <div>
                            <div class="left">路人-戊</div>
                            <div class="right">1楼•3 天前</div>
                            <div class="clear"></div>
                        </div>
                        <hr style="margin:5px 0px;">
                        <div style="margin: 20px 0px;">看样子好像是没打包，你直接在console里面看下最近实现过类似的功能。应该和楼主自己实现的差不多把。如果是以太坊的账户转账，用getBlock拿。如果是代币的话，用getLogs，把address和topic[0]，fromBlock,toBlock设置在过滤器里。周期遍历一下。</div>
                    </div>
                    <div class="clear"></div>
                </div>-->
            </div>
        </div>

        <div id="reply-body" style="margin-top:10px;display:none;">
            <div class="main-panel-header">
                <input type="button" value="提交回复" onclick="addReplyTopic()" style="font-size:14px;width:100px;background-color:#0C6EAB;color:white;border-radius:5px;height:30px;cursor: pointer;">
            </div>

            <div class="main-panel-body" style="padding:0;">
                <textarea id="replyTxt" name="replyTxt" style="width:100%;"></textarea>
                <input id="singlefileInput" type="file" name="singlefileInput" onchange="kindeditorFileUploading('singlefileInput', replyKindeditor, 'file');" style="display:none;">
                <input id="singleimgInput" type="file" name="singleimgInput" onchange="kindeditorFileUploading('singleimgInput', replyKindeditor, 'image');" style="display:none;">
            </div>
        </div>
    </div>

</div>

<div class="foot">
    <div class="foot-main">
        <p>
            Bitshuo 国内最为专业的区块链技术开源社区，致力于区块链技术的研究、分享和普及
        </p>
    </div>
</div>
</body>
</html>