<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person Home Page</title>
    <link rel="icon" href="../res/img/favicon.png" type=" image/png" >
    <script type="text/javascript" src="../res/js/jquery-1.11.2.js"></script>
    <link rel="stylesheet" type="text/css" href="../res/css/webDefault.css">
    <link rel="stylesheet" type="text/css" href="../res/pagination/pagination.css">
    <script type="text/javascript" src="../res/js/js.cookie.js"></script>
    <script type="text/javascript" src="../res/pagination/pagination.js"></script>
    <script type="text/javascript" src="../res/js/webCommon.js"></script>
    <script type="text/javascript" src="../res/js/user.js"></script>
    <script type="text/javascript" src="../res/js/topic.js"></script>

    <script>
        $(function (){
            if(checkUser()){
                var userPar = window.location.search.substring(1);
                if(!userPar){
                    var user = jQuery.parseJSON(Cookies.get("user"));
                    userPar = "userId="+user.id;
                }
                $('#pi_idPar').val(userPar);
                initPersonInformation(userPar);
                initPublishTopic(1, globalPageSize);
                initReplyTopic(1, globalPageSize);
                initPublishTopicCount();
                initReplyTopicCount();
            }
        });
    </script>
</head>
<body>
<div class="navBar">
    <div class="navBar-inner">
        <div class="container">
            <div class="brand"></div>
            <!--<div id="search_form" class="navBar-search">
                <input type="text" id="q" name="q" class="search-query left" value="">
                <div class="navBar-searchBtn left"></div>
            </div>-->
            <ul class="nav pull-right">
                <li><a href="/index.html">首页</a></li>
                <li><a href="/view/about.html" target="">关于</a></li>
                <li><a style="cursor:pointer;">我的信息</a>
                    <ul>
                        <li><a href="/view/newTopic.html">发布新贴</a></li>
                        <li><a href="#">个人信息</a></li>
                        <li><a href="/view/userHomePage.html">个人主页</a></li>
                        <li><a href="/login.html" onclick="logout()">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="main">
    <div class="main-rightPanel">
        <div class="main-panel-header">
            <span>通知</span>
        </div>
        <div class="main-panel-body">
            <p>欢迎访问 区块链技术中文社区</p>
            <p>社区发言请遵循 相关规则</p>
            <p>区块链技术交流群 147086480</p>
        </div>
    </div>
    <div class="main-leftPanel">
        <div class="main-panel-header">
            <span>个人信息</span>
        </div>
        <div class="main-panel-body" style="padding:10;">
            <img id="pi_avatar" src="../res/img/staff_128.png" onerror="this.src='../res/img/staff_128.png'" style="width:128px;height:128px;" class="left">
            <div class="left" style="margin-left:50px;">
                <input id="pi_idPar" type="hidden">
                <div id="pi_name" style="padding:10px 0px;">Priputnev, Victor</div>
                <div id="pi_companyName" style="padding:10px 0px;">渣打全球服务有限公司</div>
            </div>
            <div class="clear"></div>
        </div>

        <div style="height:13px;"></div>

        <div class="main-panel-header">
            <span>最近发布的帖子</span>
        </div>
        <div class="main-panel-body" style="padding:0;">
            <div id="publishTopicsBody" style="margin:0px; border-radius: 0 0 3px 3px;">
                <div class="main-panel-body-cell">
                    <img src="/res/img/staff_24.png" class="left" style="width:36px;height:36px;margin-top:6px;">
                    <span style="margin-left:10px;">abcdefg</span>
                    <span style="color: #9e78c0;font-size: 12px">10</span>
                    <span style="margin: 0 -3px;">/</span>
                    <span style="color: #b4b4b4;font-size: 12px">1000</span>
                    <span style="background-color:grey; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">分类</span>
                    <span style="background-color:blue; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">置顶</span>
                    <span style="background-color:purple; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">申精</span>
                    <span style="background-color:#80bd01; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">已解决</span>
                    <span style="background-color:red; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">待解决</span>
                    <a href="#" style="margin-left:10px;color:#888">区块链开发入门书籍和文档</a>
                    <span class="right" style="color:#888">2018-01-01</span>
                </div>
                <div class="main-panel-body-cell">
                    <img src="/res/img/staff_24.png" class="left" style="width:36px;height:36px;margin-top:6px;">
                    <span style="margin-left:10px;">abcdefg</span>
                    <span style="color: #9e78c0;font-size: 12px">10</span>
                    <span style="margin: 0 -3px;">/</span>
                    <span style="color: #b4b4b4;font-size: 12px">1000</span>
                    <span style="background-color:grey; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">分类</span>
                    <span style="background-color:blue; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">置顶</span>
                    <span style="background-color:purple; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">申精</span>
                    <span style="background-color:#80bd01; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">已解决</span>
                    <span style="background-color:red; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">待解决</span>
                    <a href="#" style="margin-left:10px;color:#888">区块链开发入门书籍和文档</a>
                    <span class="right" style="color:#888">2018-01-01</span>
                </div>
                <div class="main-panel-body-cell">
                    <img src="/res/img/staff_24.png" class="left" style="width:36px;height:36px;margin-top:6px;">
                    <span style="margin-left:10px;">abcdefg</span>
                    <span style="color: #9e78c0;font-size: 12px">10</span>
                    <span style="margin: 0 -3px;">/</span>
                    <span style="color: #b4b4b4;font-size: 12px">1000</span>
                    <span style="background-color:grey; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">分类</span>
                    <span style="background-color:blue; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">置顶</span>
                    <span style="background-color:purple; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">申精</span>
                    <span style="background-color:#80bd01; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">已解决</span>
                    <span style="background-color:red; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">待解决</span>
                    <a href="#" style="margin-left:10px;color:#888">区块链开发入门书籍和文档</a>
                    <span class="right" style="color:#888">2018-01-01</span>
                </div>
                <div class="main-panel-body-cell">
                    <img src="/res/img/staff_24.png" class="left" style="width:36px;height:36px;margin-top:6px;">
                    <span style="margin-left:10px;">abcdefg</span>
                    <span style="color: #9e78c0;font-size: 12px">10</span>
                    <span style="margin: 0 -3px;">/</span>
                    <span style="color: #b4b4b4;font-size: 12px">1000</span>
                    <span style="background-color:grey; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">分类</span>
                    <span style="background-color:blue; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">置顶</span>
                    <span style="background-color:purple; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">申精</span>
                    <span style="background-color:#80bd01; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">已解决</span>
                    <span style="background-color:red; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">待解决</span>
                    <a href="#" style="margin-left:10px;color:#888">区块链开发入门书籍和文档</a>
                    <span class="right" style="color:#888">2018-01-01</span>
                </div>

            </div>
        </div>
        <div class="main-panel-body" style="padding:10px 0px;border-top: 1px solid #f0f0f0;">
            <div id="publishPagination" class="pagination" style="margin:0px 10px;display:none;"></div>
        </div>

        <div style="height:13px;"></div>

        <div class="main-panel-header">
            <span>最近回复的帖子</span>
        </div>
        <div class="main-panel-body" style="padding:0;">
            <div id="replyTopicsBody" style="margin:0px; border-radius: 0 0 3px 3px;">
                <div class="main-panel-body-cell">
                    <img src="/res/img/staff_24.png" class="left" style="width:36px;height:36px;margin-top:6px;">
                    <span style="margin-left:10px;">abcdefg</span>
                    <span style="color: #9e78c0;font-size: 12px">10</span>
                    <span style="margin: 0 -3px;">/</span>
                    <span style="color: #b4b4b4;font-size: 12px">1000</span>
                    <span style="background-color:grey; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">分类</span>
                    <span style="background-color:blue; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">置顶</span>
                    <span style="background-color:purple; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">申精</span>
                    <span style="background-color:#80bd01; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">已解决</span>
                    <span style="background-color:red; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">待解决</span>
                    <a href="#" style="margin-left:10px;color:#888">区块链开发入门书籍和文档</a>
                    <span class="right" style="color:#888">2018-01-01</span>
                </div>
                <div class="main-panel-body-cell">
                    <img src="/res/img/staff_24.png" class="left" style="width:36px;height:36px;margin-top:6px;">
                    <span style="margin-left:10px;">abcdefg</span>
                    <span style="color: #9e78c0;font-size: 12px">10</span>
                    <span style="margin: 0 -3px;">/</span>
                    <span style="color: #b4b4b4;font-size: 12px">1000</span>
                    <span style="background-color:grey; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">分类</span>
                    <span style="background-color:blue; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">置顶</span>
                    <span style="background-color:purple; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">申精</span>
                    <span style="background-color:#80bd01; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">已解决</span>
                    <span style="background-color:red; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">待解决</span>
                    <a href="#" style="margin-left:10px;color:#888">区块链开发入门书籍和文档</a>
                    <span class="right" style="color:#888">2018-01-01</span>
                </div>
                <div class="main-panel-body-cell">
                    <img src="/res/img/staff_24.png" class="left" style="width:36px;height:36px;margin-top:6px;">
                    <span style="margin-left:10px;">abcdefg</span>
                    <span style="color: #9e78c0;font-size: 12px">10</span>
                    <span style="margin: 0 -3px;">/</span>
                    <span style="color: #b4b4b4;font-size: 12px">1000</span>
                    <span style="background-color:grey; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">分类</span>
                    <span style="background-color:blue; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">置顶</span>
                    <span style="background-color:purple; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">申精</span>
                    <span style="background-color:#80bd01; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">已解决</span>
                    <span style="background-color:red; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">待解决</span>
                    <a href="#" style="margin-left:10px;color:#888">区块链开发入门书籍和文档</a>
                    <span class="right" style="color:#888">2018-01-01</span>
                </div>
                <div class="main-panel-body-cell">
                    <img src="/res/img/staff_24.png" class="left" style="width:36px;height:36px;margin-top:6px;">
                    <span style="margin-left:10px;">abcdefg</span>
                    <span style="color: #9e78c0;font-size: 12px">10</span>
                    <span style="margin: 0 -3px;">/</span>
                    <span style="color: #b4b4b4;font-size: 12px">1000</span>
                    <span style="background-color:grey; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">分类</span>
                    <span style="background-color:blue; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">置顶</span>
                    <span style="background-color:purple; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">申精</span>
                    <span style="background-color:#80bd01; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">已解决</span>
                    <span style="background-color:red; padding:2px 6px 2px 4px; border-radius:3px;color:#fff;font-size:14px;">待解决</span>
                    <a href="#" style="margin-left:10px;color:#888">区块链开发入门书籍和文档</a>
                    <span class="right" style="color:#888">2018-01-01</span>
                </div>
            </div>
        </div>
        <div class="main-panel-body" style="padding:10px 0px;border-top: 1px solid #f0f0f0;">
            <div id="replyPagination" class="pagination" style="margin:0px 10px;display:none;"></div>
        </div>
    </div>


</div>

<div class="foot" style="">
    <div class="foot-main">
        <p>
            Bitshuo 国内最为专业的区块链技术开源社区，致力于区块链技术的研究、分享和普及
        </p>
    </div>
</div>
</body>
</html>